<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="SM\Category\NavigationThumbnail" type="Magento\Catalog\Model\ImageUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">catalog/tmp/category/navigation_thumbnail</argument>
            <argument name="basePath" xsi:type="string">catalog/category/navigation_thumbnail</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="SM\Category\Controller\Adminhtml\Category\NavigationThumbnail\Upload">
        <arguments>
            <argument name="imageUploader" xsi:type="object">SM\Category\NavigationThumbnail</argument>
        </arguments>
    </type>
    <preference for="Magento\Catalog\Model\Category\DataProvider" type="SM\Category\Model\Category\DataProvider"/>
</config>